In [172]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [173]:
def getAllFiles(baseDir):
    files = []
    
    for file in os.listdir(baseDir):
        filePath = os.path.join(baseDir, file)
        files.append(filePath)

    return files


getAllFiles('target')

['target\\janeiro.csv',
 'target\\NU_362118765_01ABR2024_30ABR2024.csv',
 'target\\NU_362118765_01AGO2024_31AGO2024.csv',
 'target\\NU_362118765_01DEZ2024_26DEZ2024.csv',
 'target\\NU_362118765_01FEV2024_29FEV2024.csv',
 'target\\NU_362118765_01JUN2024_30JUN2024.csv',
 'target\\NU_362118765_01MAI2024_31MAI2024.csv',
 'target\\NU_362118765_01MAR2024_31MAR2024.csv',
 'target\\NU_362118765_01NOV2024_30NOV2024.csv',
 'target\\NU_362118765_01OUT2024_31OUT2024.csv',
 'target\\NU_362118765_01SET2024_30SET2024.csv']

In [174]:
df = pd.DataFrame()

for file in getAllFiles('target'):
    new = pd.read_csv(file)
    df = pd.concat([df, new])

display(df.info())
df

<class 'pandas.core.frame.DataFrame'>
Index: 112 entries, 0 to 28
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           112 non-null    object
 1   Valor          112 non-null    float64
 2   Identificador  112 non-null    object
 3   Descrição      112 non-null    object
dtypes: float64(1), object(3)
memory usage: 4.4+ KB

None

,Data,Valor,Identificador,Descrição
0,13/01/2024,-18.0,65a2bbfc-42e5-44ba-b623-76a843097ae7,Compra no débito - Vr Bbs Restaurante
1,30/01/2024,50.0,65b936b5-c077-4689-803e-a15cbed3babe,Transferência recebida pelo Pix - RAFAEL TARGA...
2,31/01/2024,40.0,65ba5e8d-6c53-4765-8077-13047da5f87a,Transferência recebida pelo Pix - RAFAEL TARGA...
0,29/04/2024,-1000.0,66303e2d-16f7-465a-b251-7b8e97539798,Transferência enviada pelo Pix - Matteus Arauj...
1,29/04/2024,-500.0,66303f4a-ee9d-4af3-a9e5-cf07820d1750,Transferência enviada pelo Pix - Matteus Arauj...
...,...,...,...,...
24,23/09/2024,60.0,66f1d331-3dc1-439b-9af7-2d344b19c958,Transferência recebida pelo Pix - KLAUSS MIRAN...
25,25/09/2024,120.0,66f4141d-8d38-49dc-8ac9-053589258df0,Transferência recebida pelo Pix - JHONATA ANUN...
26,25/09/2024,60.0,66f416d5-34d1-4de9-b8ed-2b40f6623695,Transferência Recebida - Jenyfer Nunes da Silv...
27,27/09/2024,60.0,66f7239a-b72b-40c2-97b0-12b91664cb67,Transferência Recebida - Stefanie dos Santos S...
28,30/09/2024,50.0,66fb1eaf-f39d-47a7-af8f-ef4c2faec43b,Transferência Recebida - Laércio Davi Ferst - ...

In [175]:
df['date'] = pd.to_datetime(df.Data, errors='coerce', format='%d/%m/%Y')
df.head()

,Data,Valor,Identificador,Descrição,date
0,13/01/2024,-18.0,65a2bbfc-42e5-44ba-b623-76a843097ae7,Compra no débito - Vr Bbs Restaurante,2024-01-13
1,30/01/2024,50.0,65b936b5-c077-4689-803e-a15cbed3babe,Transferência recebida pelo Pix - RAFAEL TARGA...,2024-01-30
2,31/01/2024,40.0,65ba5e8d-6c53-4765-8077-13047da5f87a,Transferência recebida pelo Pix - RAFAEL TARGA...,2024-01-31
0,29/04/2024,-1000.0,66303e2d-16f7-465a-b251-7b8e97539798,Transferência enviada pelo Pix - Matteus Arauj...,2024-04-29
1,29/04/2024,-500.0,66303f4a-ee9d-4af3-a9e5-cf07820d1750,Transferência enviada pelo Pix - Matteus Arauj...,2024-04-29

In [176]:
df = df[['date', 'Valor', 'Descrição']]
df.columns = ['date', 'value', 'description']
df

         date   value                                        description
0  2024-01-13   -18.0              Compra no débito - Vr Bbs Restaurante
1  2024-01-30    50.0  Transferência recebida pelo Pix - RAFAEL TARGA...
2  2024-01-31    40.0  Transferência recebida pelo Pix - RAFAEL TARGA...
0  2024-04-29 -1000.0  Transferência enviada pelo Pix - Matteus Arauj...
1  2024-04-29  -500.0  Transferência enviada pelo Pix - Matteus Arauj...
..        ...     ...                                                ...
24 2024-09-23    60.0  Transferência recebida pelo Pix - KLAUSS MIRAN...
25 2024-09-25   120.0  Transferência recebida pelo Pix - JHONATA ANUN...
26 2024-09-25    60.0  Transferência Recebida - Jenyfer Nunes da Silv...
27 2024-09-27    60.0  Transferência Recebida - Stefanie dos Santos S...
28 2024-09-30    50.0  Transferência Recebida - Laércio Davi Ferst - ...

[112 rows x 3 columns]

# FILTRANDO

In [177]:
target = df.loc[(df.description.str.lower().str.contains('matteus') & (df.date.dt.month == 4))]
target

        date   value                                        description
0 2024-04-29 -1000.0  Transferência enviada pelo Pix - Matteus Arauj...
1 2024-04-29  -500.0  Transferência enviada pelo Pix - Matteus Arauj...

In [178]:
data = pd.DataFrame()
data = pd.concat([data, target])
data

        date   value                                        description
0 2024-04-29 -1000.0  Transferência enviada pelo Pix - Matteus Arauj...
1 2024-04-29  -500.0  Transferência enviada pelo Pix - Matteus Arauj...

In [179]:
target = df.loc[(df.value % 60 == 0) & (df.date.dt.month > 7)]
target

         date  value                                        description
1  2024-08-26  120.0  Transferência Recebida - Lorran Andrade de Fig...
2  2024-08-26   60.0  Transferência recebida pelo Pix - ARTHUR DOS S...
3  2024-08-26   60.0  Transferência Recebida - Thiago de Almeida Mar...
4  2024-08-26  120.0  Transferência Recebida - João Vitor de Oliveir...
5  2024-08-26  120.0  Transferência recebida pelo Pix - LUCAS ROBERT...
..        ...    ...                                                ...
23 2024-09-23  120.0  Transferência recebida pelo Pix - LEONAN MARCH...
24 2024-09-23   60.0  Transferência recebida pelo Pix - KLAUSS MIRAN...
25 2024-09-25  120.0  Transferência recebida pelo Pix - JHONATA ANUN...
26 2024-09-25   60.0  Transferência Recebida - Jenyfer Nunes da Silv...
27 2024-09-27   60.0  Transferência Recebida - Stefanie dos Santos S...

[86 rows x 3 columns]

In [180]:
R = target.value.sum()
R

7320.0

In [181]:
target = df.loc[abs(df.value) > 4000]
target

         date   value                                        description
39 2024-11-14 -5376.4  Transferência enviada pelo Pix - Elisangela Le...

In [182]:
C = abs(target.iloc[0].value)
C

5376.4

In [183]:
L = R - C
L

1943.6000000000004

In [184]:
target = df.loc[(df.date.dt.month == 10) * (df.value == -490)]
target

         date  value                                        description
10 2024-10-18 -490.0  Transferência enviada pelo Pix - TROPICAL GRAF...
11 2024-10-22 -490.0  Transferência enviada pelo Pix - TROPICAL GRAF...

In [185]:
total = abs(target.value.sum())
total

980.0

In [186]:
L - 1500 - 980

-536.3999999999996

In [190]:
target = df.loc[df.date.dt.month < 4][1:]
target

        date  value                                        description
1 2024-01-30   50.0  Transferência recebida pelo Pix - RAFAEL TARGA...
2 2024-01-31   40.0  Transferência recebida pelo Pix - RAFAEL TARGA...
0 2024-02-03   50.0  Transferência recebida pelo Pix - KLAUSS MIRAN...
1 2024-02-07   47.0  Transferência recebida pelo Pix - KLAUSS MIRAN...
0 2024-03-01   60.0  Transferência Recebida - David Oberdan Dias de...
1 2024-03-10  100.0  Transferência Recebida - Matteus Araujo Ouvern...
2 2024-03-10 -100.0  Transferência enviada pelo Pix - Klauss Mirand...

In [191]:
target = df.loc[(abs(df.value) > 1500)]
target

         date   value                                        description
0  2024-12-02 -1708.0  Transferência enviada pelo Pix - HIGOR GONCALV...
39 2024-11-14 -5376.4  Transferência enviada pelo Pix - Elisangela Le...